<div th:fragment="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-11 col-sm-12 cent">
                <nav class="nav nav-masthead justify-content-center">
                    <ul class="menu d-flex p-0">
                        <li class="menu__item">
                            <a class="nav-link" th:href="@{/}" href="index.html">Головна</a>
                        </li>
                        <li class="menu__item">
                            <a class="nav-link" th:href="@{/blog}" href="blog-main.html">Блог</a>
                        </li>
                        <li class="menu__item">
                            <a class="nav-link" th:href="@{/blog/add}" href="blog-add.html">Додати статтю</a>
                        </li>
                    </ul>
                </nav>
                <script th:src="@{/js/changeActiveItem.js}"></script>
            </div>
            <div class="col-lg-2 col-md-1 d-sm-grid">
                <a href="#" class="logo" data-bs-toggle="tooltip" data-bs-placement="bottom">
                    <img th:src="@{/img/flag.png}" alt="UA">
                </a>
            </div>
        </div>
    </div>
</div>